@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
.bg-purple-custom {
    background-color: #A66CFF;
}

.bg-light-purple {
    background-color: #F5F0FF;
}

.logo-img {
    max-width: 60%;
    height: auto;
}

p {
    font-size: 1.1rem;
    color: #6B21A8;
    line-height: 1.6;
}
